#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install -- --install-lib=/usr/lib/python3/dist-packages
	install -Dm755 debian/myloai-launcher usr/bin/myloai
	install -Dm644 ../myloai.desktop debian/myloai/usr/share/applications/myloai.desktop
	install -Dm644 ../myloai.1 debian/myloai/usr/share/man/man1/myloai.1
